node_modules
.DS_Store
dist
.npmrc
.cache

tests/server/static
tests/server/static/upload
  pnpm-lock.yaml
	src/layouts/default/header/components/user-dropdown/index.vue
	src/settings/projectSetting.ts
	src/utils/http/axios/index.ts

.local
# local env files
.env.local
.env.*.local
.eslintcache

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
# .vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

package-lock.json
pnpm-lock.yaml

